<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javatspfci.code.mapper.DefaultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javatspfci.code.entity.po.Default">
        <id column="def_id" property="defId" />
        <result column="def_factory" property="defFactory" />
        <result column="def_picture" property="defPicture" />
        <result column="def_price" property="defPrice" />
        <result column="def_name" property="defName" />
        <result column="def_info" property="defInfo" />
        <result column="def_stock" property="defStock" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
