<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javatspfci.code.mapper.FactoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javatspfci.code.entity.po.Factory">
        <id column="fac_id" property="facId" />
        <result column="fac_user_name" property="facUserName" />
        <result column="fac_store_name" property="facStoreName" />
        <result column="fac_store_introduce" property="facStoreIntroduce" />
        <result column="fac_phone" property="facPhone" />
        <result column="fac_picture" property="facPicture" />
        <result column="fac_location" property="facLocation" />
        <result column="fac_licence" property="facLicence" />
        <result column="fac_delete" property="facDelete" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <insert id="addFactory">
        INSERT INTO `tb_factory` VALUES(#{id}, #{username}, #{phone}, '', '', '', '', '', 0, NOW());
    </insert>

    <select id="queryCountByPhone" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_factory`
        WHERE `fac_phone` = #{phone}
        AND `fac_delete` = 0
    </select>

    <select id="queryCountByName" resultType="java.lang.String">
        SELECT `fac_id`
        FROM `tb_factory`
        WHERE `fac_user_name` = #{name}
        AND `fac_delete` = 0
    </select>

    <select id="selectFacPhone" resultType="com.example.javatspfci.code.entity.vo.FactoryLoginMsg">
        SELECT `tb_factory`.`fac_id`,
               `tb_factory`.`fac_user_name`,
               `tb_factory`.`fac_store_name`,
               `tb_factory`.`fac_store_introduce`,
               `tb_factory`.`fac_phone`,
               `tb_factory`.`fac_picture`,
               `tb_factory`.`fac_location`,
               `tb_factory`.`fac_licence`,
               `tb_all_password`.`all_password`,
               `tb_user_role`.`u_role`
        FROM `tb_factory`,`tb_all_password`,`tb_user_role`
        WHERE `tb_factory`.`fac_id` = `tb_all_password`.`all_id`
          AND `tb_all_password`.`all_id` = `tb_user_role`.`u_id`
          AND `fac_phone`=#{facPhone}
          AND `all_password`=#{password}
          AND `fac_delete` = 0
    </select>

    <select id="listAllFactoryByPage" resultType="com.example.javatspfci.code.entity.po.Factory">
        SELECT
            `fac_id`,
            `fac_user_name`,
            `fac_phone`,
            `fac_store_name`,
            `fac_store_introduce`,
            `fac_picture`,
            `fac_location`,
            `fac_licence`,
            `fac_delete`,
            `create_time`
        FROM `tb_factory`
        WHERE `fac_delete` = 0
            LIMIT #{start},#{count}
    </select>

    <select id="queryAllFactoryCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_factory`
        WHERE `fac_delete` = 0
    </select>

    <select id="getOneFactoryByID" resultType="com.example.javatspfci.code.entity.vo.FactoryQueryMsg">
        SELECT
            `fac_id` AS `id`,
            `fac_store_name` AS `factoryName`,
            `fac_phone` AS `phone`,
            `fac_picture` As `picture`,
            `fac_store_introduce` AS `introduce`,
            `fac_location` AS `location`
        FROM `tb_factory`
        WHERE `fac_delete` = 0
        AND `fac_id` = #{id}
    </select>

    <update id="updateFactory">
        UPDATE `tb_factory`
        SET
            `fac_user_name` = #{username},
            `fac_store_name` = #{factoryName},
            `fac_store_introduce` = #{introduce},
            `fac_picture` = #{headPicture},
            `fac_location` = #{location},
            `fac_licence` = #{factoryLicence}
        WHERE `fac_id` = #{id}
    </update>
</mapper>
