<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javatspfci.code.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javatspfci.code.entity.po.Log">
        <id column="log_id" property="logId" />
        <id column="log_user" property="logUser" />
        <result column="log_status" property="logStatus" />
        <result column="log_time" property="logTime" />
    </resultMap>

    <insert id="addLog">
        INSERT INTO `tb_log` VALUES (null, #{logUser}, #{logStatus}, NOW())
    </insert>
</mapper>
