<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javatspfci.code.mapper.StoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javatspfci.code.entity.po.Store">
        <id column="st_id" property="stId" />
        <result column="st_user_name" property="stUserName" />
        <result column="st_store_name" property="stStoreName" />
        <result column="st_store_introduce" property="stStoreIntroduce" />
        <result column="st_phone" property="stPhone" />
        <result column="st_picture" property="stPicture" />
        <result column="st_location" property="stLocation" />
        <result column="st_lences_id" property="stLencesId" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <insert id="addStore">
        INSERT INTO `tb_store` VALUES(#{id}, #{username}, #{phone}, '', '', '', '', '', '', 0, NOW());
    </insert>

    <select id="queryCountByPhone" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_store`
        WHERE `st_phone` = #{phone}
          AND `is_delete` = 0
    </select>
    <select id="selectStoreByUsername" resultType="com.example.javatspfci.code.entity.vo.StoreLoginMsg">
        SELECT `tb_store`.`st_id`,
               `tb_store`.`st_user_name`,
               `tb_store`.`st_phone`,
               `tb_store`.`st_store_name`,
               `tb_store`.`st_store_introduce`,
               `tb_store`.`st_picture`,
               `tb_store`.`st_location`,
               `tb_store`.`st_lences_id`,
               `tb_all_password`.`all_password`,
               `tb_user_role`.`u_role`
        FROM `tb_store`,`tb_all_password`,`tb_user_role`
        WHERE `tb_store`.`st_id` = `tb_all_password`.`all_id`
          AND `tb_all_password`.`all_id` = `tb_user_role`.`u_id`
          AND `st_user_name`=#{stUsername}
          AND `all_password`=#{password}
    </select>

</mapper>
