<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javatspfci.code.mapper.StoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javatspfci.code.entity.po.Store">
        <id column="st_id" property="stId" />
        <result column="st_user_name" property="stUserName" />
        <result column="st_store_name" property="stStoreName" />
        <result column="st_store_introduce" property="stStoreIntroduce" />
        <result column="st_phone" property="stPhone" />
        <result column="st_picture" property="stPicture" />
        <result column="st_location" property="stLocation" />
        <result column="st_licence" property="stLicence" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <insert id="addStore">
        INSERT INTO `tb_store` VALUES(#{id}, #{username},'', #{phone}, '', '', '', '', '', '', 0, NOW());
    </insert>

    <select id="queryCountByPhone" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_store`
        WHERE `st_phone` = #{phone}
          AND `is_delete` = 0
    </select>

    <select id="queryCountByName" resultType="java.lang.String">
        SELECT `st_id`
        FROM `tb_store`
        WHERE `st_user_name` = #{name}
          AND `is_delete` = 0
    </select>

    <select id="selectStoreByPhone" resultType="com.example.javatspfci.code.entity.vo.StoreLoginMsg">
        SELECT `tb_store`.`st_id`,
               `tb_store`.`st_user_name`,
               `tb_store`.`st_factory`,
               `tb_store`.`st_phone`,
               `tb_store`.`st_owner_name`,
               `tb_store`.`st_store_name`,
               `tb_store`.`st_introduce`,
               `tb_store`.`st_picture`,
               `tb_store`.`st_location`,
               `tb_store`.`st_licence`,
               `tb_all_password`.`all_password`,
               `tb_user_role`.`u_role`
        FROM `tb_store`,`tb_all_password`,`tb_user_role`
        WHERE `tb_store`.`st_id` = `tb_all_password`.`all_id`
          AND `tb_all_password`.`all_id` = `tb_user_role`.`u_id`
          AND `st_phone`=#{stPhone}
          AND `all_password`=#{password}
          AND `is_delete` = 0
    </select>

    <select id="selectStoreUserById" resultType="com.example.javatspfci.code.entity.vo.StoreLoginMsg">
        SELECT `tb_store`.`st_id`,
               `tb_store`.`st_user_name`,
               `tb_store`.`st_factory`,
               `tb_store`.`st_phone`,
               `tb_store`.`st_owner_name`,
               `tb_store`.`st_store_name`,
               `tb_store`.`st_introduce`,
               `tb_store`.`st_picture`,
               `tb_store`.`st_location`,
               `tb_store`.`st_licence`,
               `tb_all_password`.`all_password`,
               `tb_user_role`.`u_role`
        FROM `tb_store`,`tb_all_password`,`tb_user_role`
        WHERE `tb_store`.`st_id` = `tb_all_password`.`all_id`
          AND `tb_all_password`.`all_id` = `tb_user_role`.`u_id`
          AND `st_id`= #{id}
          AND `tb_store`.`is_delete`= 0
    </select>

    <select id="listAllStoreByPage" resultType="com.example.javatspfci.code.entity.po.Store">
        SELECT `tb_store`.`st_id`,
               `tb_store`.`st_user_name`,
               `tb_store`.`st_factory`,
               `tb_store`.`st_phone`,
               `tb_store`.`st_owner_name`,
               `tb_store`.`st_store_name`,
               `tb_store`.`st_introduce`,
               `tb_store`.`st_picture`,
               `tb_store`.`st_location`,
               `tb_store`.`st_licence`,
               `tb_store`.`create_time`,
               `tb_store`.`is_delete`
        FROM `tb_store`
        WHERE `tb_store`.`is_delete` = 0
        AND `tb_store`.`st_factory` = #{factoryId}
        LIMIT #{start},#{count}
    </select>

    <select id="queryAllStoreCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_store`
        WHERE `tb_store`.`is_delete` = 0
    </select>

    <select id="listStoreByFactoryId" resultType="com.example.javatspfci.code.entity.po.Store">
        SELECT
            `tb_store`.`st_id`,
            `tb_store`.`st_user_name`,
            `tb_store`.`st_factory`,
            `tb_store`.`st_phone`,
            `tb_store`.`st_owner_name`,
            `tb_store`.`st_store_name`,
            `tb_store`.`st_introduce`,
            `tb_store`.`st_picture`,
            `tb_store`.`st_location`,
            `tb_store`.`st_licence`,
            `tb_store`.`create_time`,
            `tb_store`.`is_delete`
        FROM `tb_store`
        WHERE `tb_store`.`is_delete` = 0
        AND `tb_store`.`st_factory` = #{factroyId}
    </select>

    <update id="updateStoreInfo">
        UPDATE `tb_store`
        SET
            `st_user_name` = #{username},
            `st_owner_name` = #{ownerName},
            `st_store_name` = #{storeName},
            `st_introduce` = #{introduce},
            `st_picture` = #{headPicture},
            `st_location` = #{location},
            `st_licence` = #{licence}
        WHERE `st_id` = #{id}
        AND `is_delete` = 0
    </update>

    <update id="addCooperation">
        UPDATE `tb_store`
        SET
            `st_factory` = #{factoryId}
        WHERE
            `st_id` = #{storeId}
    </update>

    <update id="deleteCooperation">
        UPDATE `tb_store`
        SET `st_factory` = ''
        WHERE
            `st_factory` = #{factoryId}
        AND `st_id` = #{storeId}
        AND `is_delete` = 0
    </update>

    <select id="queryStoreCountByFactoryId" resultType="java.lang.Integer">
        SELECT
               COUNT(*)
        FROM `tb_store`
        WHERE
            `st_factory` = #{factoryId}
        AND `is_delete` = 0
    </select>
</mapper>
