<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javatspfci.code.mapper.TablewareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javatspfci.code.entity.po.Tableware">
        <id column="tab_id" property="tabId" />
        <result column="tab_factory" property="tabFactory" />
        <result column="tab_name" property="tabName" />
        <result column="tab_describe" property="tabDescribe" />
        <result column="tab_type" property="tabType" />
        <result column="tab_picture" property="tabPicture" />
        <result column="tab_value" property="tabValue" />
        <result column="tab_size" property="tabSize" />
        <result column="tab_price" property="tabPrice" />
        <result column="tab_stock" property="tabStock" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <insert id="addTableware">
    INSERT INTO `tb_tableware`(`tab_factory`,`tab_name`,`tab_describe`,`tab_type`,`tab_picture`,`tab_value`,`tab_size`,`tab_price`,`tab_stock`,`is_delete`,`create_time`)
    VALUE(#{factoryId}, #{name}, #{describe}, #{type}, #{picture}, #{value}, #{size}, #{price}, #{stock}, 0, NOW());
    </insert>

    <update id="updateTableware">
    UPDATE `tb_tableware`SET `tab_factory`=#{factoryId},
                             `tab_name`=#{name},
                             `tab_describe`=#{describe},
                             `tab_picture`=#{picture},
                             `tab_size`=#{size},
                             `tab_price`=#{price},
                             `tab_stock`=#{stock}
    WHERE `tab_id`=#{id}
    </update>
    <update id="deleteTableware">
        UPDATE `tb_tableware` SET `is_delete` = 1
        WHERE `tab_id`=#{id}
    </update>
    <select id="selectTablewareById" resultType="com.example.javatspfci.code.entity.po.Tableware">
        SELECT `tb_tableware`.`tab_id`,
               `tb_tableware`.`tab_factory`,
               `tb_tableware`.`tab_name`,
               `tb_tableware`.`tab_describe`,
               `tb_tableware`.`tab_type`,
               `tb_tableware`.`tab_picture`,
               `tb_tableware`.`tab_size`,
               `tb_tableware`.`tab_price`,
               `tb_tableware`.`tab_stock`
        FROM `tb_tableware`
        WHERE `tb_tableware`.`is_delete` = 0
        AND  `tb_tableware`.`tab_id` = #{id}
    </select>
    <select id="listAllTablewareByPage" resultType="com.example.javatspfci.code.entity.po.Tableware">
        SELECT `tb_tableware`.`tab_id`,
               `tb_tableware`.`tab_factory`,
               `tb_tableware`.`tab_name`,
               `tb_tableware`.`tab_describe`,
               `tb_tableware`.`tab_type`,
               `tb_tableware`.`tab_picture`,
               `tb_tableware`.`tab_value`,
               `tb_tableware`.`tab_size`,
               `tb_tableware`.`tab_price`,
               `tb_tableware`.`tab_stock`
        FROM `tb_tableware`
        WHERE `tb_tableware`.`is_delete` = 0
        LIMIT #{start},#{count}
    </select>
    <select id="countTableware" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_tableware`
        WHERE `tb_tableware`.`is_delete` = 0
    </select>
    <select id="listTablewareByFactory" resultType="com.example.javatspfci.code.entity.po.Tableware">
        SELECT `tb_tableware`.`tab_id`,
               `tb_tableware`.`tab_factory`,
               `tb_tableware`.`tab_name`,
               `tb_tableware`.`tab_describe`,
               `tb_tableware`.`tab_type`,
               `tb_tableware`.`tab_picture`,
               `tb_tableware`.`tab_value`,
               `tb_tableware`.`tab_size`,
               `tb_tableware`.`tab_price`,
               `tb_tableware`.`tab_stock`
        FROM `tb_tableware`
        WHERE `tb_tableware`.`is_delete` = 0
        AND `tb_tableware`.`tab_factory`= #{factoryId}
        LIMIT #{start},#{count}
    </select>
    <select id="countTablewareByFactoryId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_tableware`
        WHERE `tb_tableware`.`is_delete` = 0
        AND `tb_tableware`.`tab_factory`= #{factoryId}
    </select>

</mapper>
